<h1>Contacto</h1>
<%# <p>Find me in app/views/pages/contact.html.erb</p> %>
<div class="card mb-3 py-3">
    <div class="card-body text-center">
        <p class="card-text">Por el momento no uso redes sociales más que Linkedin y GitHub para subir.</p>
        <p class="card-text">Me puedes escribir a mi correo</p> 
        <%= link_to 'sebastianmarti@gmail.com', 'mailto:sebastianmartig@gmail.com' %>
        <p></p>
        <p class="card-text">Pincha el ícono para ir a mi perfil</p>
            <i class="fa fa-linkedin fa-3x"></i>
            <i class="fa fa-github fa-3x"></i>
    </div>
</div>