<h1>Contacto</h1>
<%# <p>Find me in app/views/pages/contact.html.erb</p> %>
<div class="card mb-3 py-3">
        <div class="card-body text-center">
            <h5 class="card-title">Métodos de contacto</h5>
            <p class="card-text">Usualmente no uso redes sociales más que Linkedin.</p>
            <p class="card-text">Me puedes contactar a mi correo sebastianmartig@gmail.com</p>
            <p class="card-text">Pincha el ícono para ir a mi perfil</p>
            <span></span>
            <span>
    </div>
</div>