<h1>¡Bienvenidos!</h1>
<%# <p>Find me in app/views/pages/home.html.erb</p> %>
<div class="card mb-3 py-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-3">
            <%= image_tag 'user.jpg', class: 'profile_img'%>
        </div>
<div class="col-md-9">
        <div class="card-body text-center">
            <h5 class="card-title">¡Hola!</h5>
            <p class="card-text">Mi nombre es Sebastián Martí y estoy en camino a convertirme en un desarrollador Ruby. Además, estoy aprendiendo otras habilidades relevantes para el cargo tales como Git, JavaScript y otros.</p>
            <p class="card-text">Puedes encontrar algunos de mis trabajos en esta misma página. ¡Gracias por tu visita!</p>
    </div>
</div>