<h1>Proyectos</h1>
<%# <p>Find me in app/views/pages/projects.html.erb</p> %>
<div class="card gy-5 mb-5 text-center">
<%= image_tag 'proyecto2.png', class: 'proyect_img'%>  
  <div class="card-body">
    <h5 class="card-title">Iguana Page</h5>
    <p class="card-text">Desarrollo de una página web utilizando elementos de Bootstrap.</p>
    <p class="card-text">Haz clic en el botón para mayor información.</p>
    <a href="https://github.com/smartigutierrez/Desafio-RoR-Iguana" target="_blank" class="btn btn-primary">Ir a Github
    </a>
  </div>
</div>

<div class="card gy-5 mb-5 text-center">
<%= image_tag 'proyecto3.png', class: 'proyect_img'%>  
  <div class="card-body">
    <h5 class="card-title">Turismo Chile</h5>
        <p class="card-text">Desarrollo de una página web utilizando elementos de Bootstrap.</p>
    <p class="card-text">Haz clic en el botón para mayor información.</p>
    <a href="https://github.com/smartigutierrez/Desaf-oChileTurismo" target="_blank" class="btn btn-primary">Ir a Github
    </a>
    </div>
</div>

<div class="card gy-5 mb-5 text-center">
<%= image_tag 'proyecto1.png', class: 'proyect_img'%>  
  <div class="card-body">
    <h5 class="card-title">Ricomida</h5>
    <p class="card-text">Desarrollo de una página responsiva con elementos JQuery.</p>
    <p class="card-text">Haz clic en el botón para mayor información.</p>
    <a href="https://github.com/smartigutierrez/RoR-Ricomida" target="_blank" class="btn btn-primary">Ir a Github
    </a>
  </div>
</div>
